<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
	        	<resource id="Magepow_Promotionbar::magepow" title="Magepow" sortOrder="10">
	        	    <resource id="Magepow_Promotionbar::promotionbar" title="Promotionbar" sortOrder="10">
	        	        <resource id="Magepow_Promotionbar::promotionbar_addrow" title="Promotionbar" sortOrder="10" />
	        	    </resource>
	        	</resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magepow_Promotionbar::promotionbar_config" title="Promotion bar"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>